@{
    ViewBag.Title = "專案執行-專案清單";
   
}
<!--專案執行表頭-->
<h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
<!--專案列表區域-->
<div class="container">
    @ViewBag.SearchResult
    <div class="row">
        <div class="col-md-12">
            @if (null != Model)
            {
                Html.RenderPartial("ProjectList");
            }
        </div>
    </div>
</div>