@model IEnumerable<Topmep.Models.FIN_SUBJECT>

    <table class="table">
        <tr>
            <th>
                修改
            </th>
            <th>
                項目類別
            </th>
            <th>
                項目代碼
            </th>
            <th>
                項目名稱
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <button type="button" class="btn btn-xs btn-default" onclick="getSubjectItem('@item.FIN_SUBJECT_ID')">
                        <small><span class="fa fa-pen"></span></small>
                    </button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CATEGORY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FIN_SUBJECT_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SUBJECT_NAME)
                </td>
            </tr>
        }
    </table>

