@{
    ViewBag.Title = "財務管理-專案清單";   
}
<!--專案執行表頭-->
<div class="container">
    <h6>@ViewBag.Title</h6>
</div>
<!--專案列表區域-->
<div class="container">
    @ViewBag.SearchResult
    <div class="row">
        <div class="col-md-12 col-sm-6">
            @if (null != Model)
            {
                Html.RenderPartial("_ProjectList");
            }
        </div>
    </div>
</div>
